<h1>List of votes</h1>

<table>
    <thead>
    <th>Timestamp</th>
    <th>Email</th>
    <th>Contestant</th>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{timestamp }}</td>
            <td>{{email }}</td>
            <td>{{for}}</td>
        </tr>
    {{/each}}
    </tbody>

</table>
